/* src/App.css */

/* Base styles (Light Mode) */
body.light {
  background-color: #fff;
  color: #333;
}

body.dark {
  background-color: #333;
  color: #fff;
}

/* Header styles */
.header {
  background-color: #007bff;
  color: white;
}

.header.dark {
  background-color: #222;
  color: white;
}

/* Button */
.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  margin-left: 20px;
}

.themeToggle:hover {
  color: #ccc;
}
